#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Type=Application
Terminal=false
Exec=/home/pi/xycar_ws/etc/gui-shell/x0.sh
Name=화면 확장
Comment=화면 확장
Icon=/home/pi/xycar_ws/etc/icon/x0.png
