#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Type=Application
Terminal=true
Exec=/home/pi/xycar_ws/etc/gui-shell/x4.sh
Name=Tensorflow Lite 객체인식
Comment=Tensorflow Lite 객체인식
Icon=/home/pi/xycar_ws/etc/icon/x4.png
