#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Type=Application
Terminal=true
Exec=/home/pi/xycar_ws/etc/gui-shell/x5.sh
Name=장애물회피 자율주행
Comment=장애물회피 자율주행
Icon=/home/pi/xycar_ws/etc/icon/x5.png
