#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Type=Application
Terminal=true
Exec=/home/pi/xycar_ws/etc/gui-shell/x9.sh
Name=DQN 학습 시뮬레이터 데모
Comment=DQN 학습 시뮬레이터 데모
Icon=/home/pi/xycar_ws/etc/icon/x9.png
